table {
    border-collapse: collapse;
    width: fit-content;;
    margin-top: 2%;
    margin-bottom: 2%;
}

th, td {
    color: white;
    border: 1px solid white;
    padding: 3px;
}

tbody {
    color: white;
    padding: 3px;
    font-size: 15px;
}